:root {

	
	--color-white: #fff;
	--color-main-light: #E7F1F1;
  --color-main-medium: #2592c3;

  --color-main: #F25E7A;
  --color-main-medium: #F25E7A;
  --color-main-dark: #F2F2F2;

  	background-color: #DEEBEB;

}




body {
	background-color:var(--color-offwhite);
	padding-bottom:4em;

}

:root
  --color-offwhite: #f4f4f4;


body {
	background-color:var(--color-offwhite);
	padding-bottom:4em;
	
}

.favorite label {
	transition: all 0.3s;
	display:inline-block ;
	transform: scale(1.1);
	color:var(--color-neutral-medium);

}

.favorite input:checked + label {
	color: red;
	transform: scale(1.5,1.5);

}